*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:
"Segoe UI",
Tahoma,
sans-serif;

background:#ffffff;

min-height:100vh;

display:flex;

justify-content:center;

padding:40px;

color:#0f172a;

}

.container{

width:900px;

background:#ffffff;

padding:40px;

border-radius:32px;

box-shadow:
0 20px 50px rgba(0,0,0,.12);

}


header{

text-align:center;

margin-bottom:35px;

}

h1{

font-size:64px;

font-weight:900;

letter-spacing:-2px;

color:#0f172a;

margin-bottom:12px;

}

.subtitulo{

font-size:22px;

font-weight:500;

color:#64748b;

}



.area-jogador{

background:#f8fafc;

padding:25px;

border-radius:22px;

margin-bottom:28px;

}

label{

display:block;

font-size:20px;

font-weight:700;

margin-bottom:12px;

color:#0f172a;

}

input{

width:100%;

padding:20px;

font-size:22px;

border-radius:16px;

border:2px solid #cbd5e1;

background:white;

margin-bottom:20px;

}

input:focus{

outline:none;

border-color:#2563eb;

}



button{

width:100%;

padding:20px;

border:none;

border-radius:16px;

background:

linear-gradient(
90deg,
#1e3a8a,
#2563eb
);

color:white;

font-size:24px;

font-weight:700;

letter-spacing:.5px;

cursor:pointer;

transition:.25s;

}

button:hover{

transform:
translateY(-3px);

}



.painel{

display:grid;

grid-template-columns:

1fr 1fr;

gap:18px;

background:#f8fafc;

padding:24px;

border-radius:22px;

margin-bottom:30px;

font-size:28px;

font-weight:700;

}

.painel div{

padding:8px;

}



#tabuleiro{

display:grid;

gap:18px;

justify-content:center;

margin-top:20px;

}



.fruta{

width:120px;

height:120px;

background:

linear-gradient(
135deg,
#1e3a8a,
#2563eb
);

border-radius:24px;

display:flex;

justify-content:center;

align-items:center;

font-size:64px;

cursor:pointer;

transition:.25s;

box-shadow:

0 10px 24px rgba(37,99,235,.25);

}

.fruta:hover{

transform:

translateY(-6px)
scale(1.08);

background:

linear-gradient(
135deg,
#172554,
#1d4ed8
);

}



#resultado{

margin-top:25px;

font-size:34px;

font-weight:800;

text-align:center;

color:#1e3a8a;

}

#btnReiniciar{

margin-top:20px;

}



@media(max-width:700px){

.container{

width:100%;

padding:25px;

}

h1{

font-size:42px;

}

.subtitulo{

font-size:18px;

}

.painel{

grid-template-columns:1fr;

font-size:22px;

}

.fruta{

width:90px;

height:90px;

font-size:48px;

}

button{

font-size:20px;

}

}
